.contact-bg{

  padding-top: 200px;
  min-height:100vh;
  background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,.5)),url(../images/images/bk1.jpg) ;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  
}
.contact-bg h3{
  font-size:  5.3rem;
  font-weight: 600;
  color: #f2f2fc;
  text-transform: uppercase;
}
.contact-bg .s{
  font-size: 3rem;
  text-transform: uppercase;
  padding: .4rem 0;
  letter-spacing: 4px;
  color: #06fafa;
  text-shadow: 5px 5px 10px #000000;
}
.line div{
  margin: 0 .2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
  height: 3px;
  width: 70px;
  background: #fff;
  border-radius: 5px;
}
.line{
  display: flex;
  align-items: center;
}
.line div:nth-child(2){
  width: 10px;
  height: 10px;
  background: #00ffff;
  border-radius: 50%;
}

.service{
display: block;
}
.service h2{
font-size: 3rem;
text-transform: uppercase;
padding: .4rem 0;
letter-spacing: 4px;
color: #06fafa;
text-align: center;
margin-bottom: 50px;
text-shadow: 10px 10px 15px #000000;
-webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px ;

}

.service-box
{
width: 90%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: auto;
}

.single-service
{

flex-basis: 48%;
text-align: center;
border-radius: 7px;
margin-bottom: 20px;
color: #fff;
position: relative;
}

.single-service img
{
width: 90%;
height: 300px;
border-radius: 7px;
}

.overlay
{
width: 100%;
height: 100%;
position: absolute;
top: 0;
border-radius: 7px;
cursor: pointer;
background:  linear-gradient(to bottom right, transparent,#B1227A,#429AEE,transparent);
opacity: 0;
transition: 2s;
}

.single-service:hover .overlay
{
opacity: 1;
}

.service-desc
{
width: 80%;
position: absolute;
bottom: 0%;
left: 50%;
opacity: 0;
transform: translateX(-50%);
transition: 1s;
}

hr
{
background: #fff;
height: 2px;
border: 0;
margin: 15px auto;
width: 60%;
}

.service-desc p
{
font-size: 14px;
}

.single-service:hover .service-desc
{
bottom: 40%;
opacity: 1;
}

@media screen and (max-width: 770px)
{
.single-service
{
  flex-basis: 100%;
  margin-bottom: 30px;
}
.service-descp
{
  font-size: 12px;
}
hr{
  margin: 5px auto;    
}
.single-service:hover .service-desc
{
  bottom: 25% !important;
}
}

#appointment{
margin: 100px;
}
#appointment h2{
font-size: 3rem;
text-transform: uppercase;
padding: .4rem 0;
letter-spacing: 4px;
color: #06fafa;
}
.appointment-form{
display: flex;
flex-direction: row;
justify-content: center;
padding: 2rem 0;
}
.appointment-form form{
padding-bottom: 1rem;
}
.form-control{
width: 100%;
border: 1.5px solid #c7c7c7;
border-radius: 5px;
padding: 0.7rem;
margin: .6rem 0;
font-family: 'Open Sans', sans-serif;
font-size: 1rem;
outline: 0;
}
.form-control:focus{
box-shadow: 0 0 6px -3px rgba(48,48,48,1);
}
.appointment-form form div{
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: .6rem;
}

.appointment-form > div img{
width: 90%;
box-shadow: 5px 5px 10px #000;
}
.appointment-form > div{
margin: 0 auto;
text-align: center;
}


.appointmen-btn{
  border: none;
  box-shadow: 5px 5px 10px #bebebe;
  color: #fff;
  background: #f7327a;
  border: none;
  padding: .7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 500;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  cursor: url(../cursor/cursor2.png),auto;
}
.appointmen-btn input{
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: .5s ease-in-out;
  background: transparent;
  border: none;
  cursor: url(../cursor/cursor2.png),auto;

}
.appointmen-btn  span{
  border-radius: 40px;
  max-width: 100%;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #06fafa;
  z-index: -1;
  transition: 0.5s ease-in-out;
  cursor: url(../cursor/cursor2.png),auto;
}
.appointmen-btn:hover  span {
  width: 100%;
}
.appointmen-btn:hover input {
  font-weight: 900;
  color: #000;
}
.appointmen-btn:hover{
  transform: translateX(5px);
}

